<a href="https://colab.research.google.com/github/Hemanthk408/store-dataset/blob/main/Datasets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [41]:
store=pd.read_csv("/content/stores_data_set.csv")
feature=pd.read_csv("/content/Features_data_set.csv")
sale=pd.read_csv("/content/sales_data_set.csv")

In [5]:
store

    Store Type    Size
0       1    A  151315
1       2    A  202307
2       3    B   37392
3       4    A  205863
4       5    B   34875
5       6    A  202505
6       7    B   70713
7       8    A  155078
8       9    B  125833
9      10    B  126512
10     11    A  207499
11     12    B  112238
12     13    A  219622
13     14    A  200898
14     15    B  123737
15     16    B   57197
16     17    B   93188
17     18    B  120653
18     19    A  203819
19     20    A  203742
20     21    B  140167
21     22    B  119557
22     23    B  114533
23     24    A  203819
24     25    B  128107
25     26    A  152513
26     27    A  204184
27     28    A  206302
28     29    B   93638
29     30    C   42988
30     31    A  203750
31     32    A  203007
32     33    A   39690
33     34    A  158114
34     35    B  103681
35     36    A   39910
36     37    C   39910
37     38    C   39690
38     39    A  184109
39     40    A  155083
40     41    A  196321
41     42    C   39690
42     43    C   41062
43     44    C   39910
44     45    B  118221

In [6]:
sale

        Store  Dept        Date  Weekly_Sales  IsHoliday
0           1     1  05/02/2010      24924.50      False
1           1     1  12/02/2010      46039.49       True
2           1     1  19/02/2010      41595.55      False
3           1     1  26/02/2010      19403.54      False
4           1     1  05/03/2010      21827.90      False
...       ...   ...         ...           ...        ...
421565     45    98  28/09/2012        508.37      False
421566     45    98  05/10/2012        628.10      False
421567     45    98  12/10/2012       1061.02      False
421568     45    98  19/10/2012        760.01      False
421569     45    98  26/10/2012       1076.80      False

[421570 rows x 5 columns]

In [7]:
feature

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday
0,1,05/02/2010,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,12/02/2010,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,19/02/2010,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,26/02/2010,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,05/03/2010,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8185,45,28/06/2013,76.05,3.639,4842.29,975.03,3.00,2449.97,3169.69,NaN,NaN,False
8186,45,05/07/2013,77.50,3.614,9090.48,2268.58,582.74,5797.47,1514.93,NaN,NaN,False
8187,45,12/07/2013,79.37,3.614,3789.94,1827.31,85.72,744.84,2150.36,NaN,NaN,False
8188,45,19/07/2013,82.84,3.737,2961.49,1047.07,204.19,363.00,1059.46,NaN,NaN,False
8189,45,26/07/2013,76.06,3.804,212.02,851.73,2.06,10.88,1864.57,NaN,NaN,False

In [42]:
store_sales=pd.merge(sale,store,on="Store")

In [43]:
store_sales

        Store  Dept        Date  Weekly_Sales  IsHoliday Type    Size
0           1     1  05/02/2010      24924.50      False    A  151315
1           1     1  12/02/2010      46039.49       True    A  151315
2           1     1  19/02/2010      41595.55      False    A  151315
3           1     1  26/02/2010      19403.54      False    A  151315
4           1     1  05/03/2010      21827.90      False    A  151315
...       ...   ...         ...           ...        ...  ...     ...
421565     45    98  28/09/2012        508.37      False    B  118221
421566     45    98  05/10/2012        628.10      False    B  118221
421567     45    98  12/10/2012       1061.02      False    B  118221
421568     45    98  19/10/2012        760.01      False    B  118221
421569     45    98  26/10/2012       1076.80      False    B  118221

[421570 rows x 7 columns]

In [10]:
feature.columns

Index(['Store', 'Date', 'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2',
       'MarkDown3', 'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment',
       'IsHoliday'],
      dtype='object')

In [77]:
feature.drop(columns="IsHoliday",inplace=True)

KeyError: "['IsHoliday'] not found in axis"

In [45]:
final=pd.merge(store_sales,feature,on=["Store","Date"])

In [46]:
final

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,1,1,05/02/2010,24924.50,False,A,151315,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106
1,1,1,12/02/2010,46039.49,True,A,151315,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106
2,1,1,19/02/2010,41595.55,False,A,151315,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106
3,1,1,26/02/2010,19403.54,False,A,151315,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106
4,1,1,05/03/2010,21827.90,False,A,151315,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,28/09/2012,508.37,False,B,118221,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684
421566,45,98,05/10/2012,628.10,False,B,118221,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667
421567,45,98,12/10/2012,1061.02,False,B,118221,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667
421568,45,98,19/10/2012,760.01,False,B,118221,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667
421569,45,98,26/10/2012,1076.80,False,B,118221,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667

In [47]:
final.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Type', 'Size',
       'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3',
       'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment'],
      dtype='object')

In [48]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 16 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  object
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     150681 non-null  float64
 10  MarkDown2     111248 non-null  float64
 11  MarkDown3     137091 non-null  float64
 12  MarkDown4     134967 non-null  float64
 13  MarkDown5     151432 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
dtypes: bool(1), float64(10), int64(3), object(2)
memory usage: 48.6+ MB

In [49]:
final["Date"]=pd.to_datetime(final["Date"],format="%d/%m/%Y")

In [50]:
final["Year"]= final["Date"].dt.year
final["Month"]= final["Date"].dt.month
final["Day"]= final["Date"].dt.day
final["Day_of_week"] = final["Date"].dt.dayofweek
final["Week"]= final["Date"].dt.isocalendar().week

In [51]:
final

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,...,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Year,Month,Day,Day_of_week,Week
0,1,1,2010-02-05,24924.50,False,A,151315,42.31,2.572,NaN,...,NaN,NaN,NaN,211.096358,8.106,2010,2,5,4,5
1,1,1,2010-02-12,46039.49,True,A,151315,38.51,2.548,NaN,...,NaN,NaN,NaN,211.242170,8.106,2010,2,12,4,6
2,1,1,2010-02-19,41595.55,False,A,151315,39.93,2.514,NaN,...,NaN,NaN,NaN,211.289143,8.106,2010,2,19,4,7
3,1,1,2010-02-26,19403.54,False,A,151315,46.63,2.561,NaN,...,NaN,NaN,NaN,211.319643,8.106,2010,2,26,4,8
4,1,1,2010-03-05,21827.90,False,A,151315,46.50,2.625,NaN,...,NaN,NaN,NaN,211.350143,8.106,2010,3,5,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,False,B,118221,64.88,3.997,4556.61,...,1.50,1601.01,3288.25,192.013558,8.684,2012,9,28,4,39
421566,45,98,2012-10-05,628.10,False,B,118221,64.89,3.985,5046.74,...,18.82,2253.43,2340.01,192.170412,8.667,2012,10,5,4,40
421567,45,98,2012-10-12,1061.02,False,B,118221,54.47,4.000,1956.28,...,7.89,599.32,3990.54,192.327265,8.667,2012,10,12,4,41
421568,45,98,2012-10-19,760.01,False,B,118221,56.47,3.969,2004.02,...,3.18,437.73,1537.49,192.330854,8.667,2012,10,19,4,42
421569,45,98,2012-10-26,1076.80,False,B,118221,58.85,3.882,4018.91,...,100.00,211.94,858.33,192.308899,8.667,2012,10,26,4,43

In [52]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  bool
 5   Type          421570 non-null  object
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     150681 non-null  float64
 10  MarkDown2     111248 non-null  float64
 11  MarkDown3     137091 non-null  float64
 12  MarkDown4     134967 non-null  float64
 13  MarkDown5     151432 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
 16  Year          421570 non-null  int32
 17  Month         421570 non-null  int32
 18  Day           421570 non-null  int32
 19  Day_of_week   421570 non-null  int32
 20  Week          421570 non-null  UInt32
dtypes: UInt32(1), bool(1), datetime64[ns](1), float64(10), int32(4), int64(3), object(1)
memory usage: 57.1+ MB

In [53]:
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder()

In [57]:
final["IsHoliday"]=encoder.fit_transform(final[["IsHoliday"]])
final["Type"]=encoder.fit_transform(final[["Type"]])

In [ ]:
final["Is"]

In [22]:
final.isnull().sum()

Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Type                 0
Size                 0
Temperature          0
Fuel_Price           0
MarkDown1       270889
MarkDown2       310322
MarkDown3       284479
MarkDown4       286603
MarkDown5       270138
CPI                  0
Unemployment         0
Year                 0
Month                0
Day                  0
Day_of_week          0
Week                 0
IshHoliday           0
dtype: int64

In [73]:
final.fillna(0,inplace=True)

<ipython-input-73-2e3c133a4f16>:1: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  final.fillna(0,inplace=True)

In [24]:
final.duplicated().sum()

0

In [75]:
final=final.drop("Date",axis=1)

KeyError: "['Date'] not found in axis"

In [26]:
final["MarkDown1"].value_counts().sum()

421570

In [58]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 22 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Date          421570 non-null  datetime64[ns]
 3   Weekly_Sales  421570 non-null  float64
 4   IsHoliday     421570 non-null  float64
 5   Type          421570 non-null  float64
 6   Size          421570 non-null  int64
 7   Temperature   421570 non-null  float64
 8   Fuel_Price    421570 non-null  float64
 9   MarkDown1     421570 non-null  float64
 10  MarkDown2     421570 non-null  float64
 11  MarkDown3     421570 non-null  float64
 12  MarkDown4     421570 non-null  float64
 13  MarkDown5     421570 non-null  float64
 14  CPI           421570 non-null  float64
 15  Unemployment  421570 non-null  float64
 16  Year          421570 non-null  int32
 17  Month         421570 non-null  int32
 18  Day           421570 non-null  int32
 19  Day_of_week   421570 non-null  int32
 20  Week          421570 non-null  UInt32
 21  IshHoliday    421570 non-null  float64
dtypes: UInt32(1), datetime64[ns](1), float64(13), int32(4), int64(3)
memory usage: 63.1 MB

In [28]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 421570 entries, 0 to 421569
Data columns (total 21 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Store         421570 non-null  int64
 1   Dept          421570 non-null  int64
 2   Weekly_Sales  421570 non-null  float64
 3   IsHoliday     421570 non-null  bool
 4   Type          421570 non-null  float64
 5   Size          421570 non-null  int64
 6   Temperature   421570 non-null  float64
 7   Fuel_Price    421570 non-null  float64
 8   MarkDown1     421570 non-null  float64
 9   MarkDown2     421570 non-null  float64
 10  MarkDown3     421570 non-null  float64
 11  MarkDown4     421570 non-null  float64
 12  MarkDown5     421570 non-null  float64
 13  CPI           421570 non-null  float64
 14  Unemployment  421570 non-null  float64
 15  Year          421570 non-null  int32
 16  Month         421570 non-null  int32
 17  Day           421570 non-null  int32
 18  Day_of_week   421570 non-null  int32
 19  Week          421570 non-null  UInt32
 20  IshHoliday    421570 non-null  float64
dtypes: UInt32(1), bool(1), float64(12), int32(4), int64(3)
memory usage: 57.1 MB

In [83]:
df_final=final.drop("IshHoliday",axis=1)

In [84]:
df_final

,Store,Dept,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,Year,Month,Day,Day_of_week,Week
0,0,1,24924.50,0.0,0.0,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,2010,2,5,4,5
1,0,1,46039.49,1.0,0.0,151315,38.51,2.548,0.00,0.00,0.00,0.00,0.00,211.242170,8.106,2010,2,12,4,6
2,0,1,41595.55,0.0,0.0,151315,39.93,2.514,0.00,0.00,0.00,0.00,0.00,211.289143,8.106,2010,2,19,4,7
3,0,1,19403.54,0.0,0.0,151315,46.63,2.561,0.00,0.00,0.00,0.00,0.00,211.319643,8.106,2010,2,26,4,8
4,0,1,21827.90,0.0,0.0,151315,46.50,2.625,0.00,0.00,0.00,0.00,0.00,211.350143,8.106,2010,3,5,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,0,98,508.37,0.0,1.0,118221,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684,2012,9,28,4,39
421566,0,98,628.10,0.0,1.0,118221,64.89,3.985,5046.74,0.00,18.82,2253.43,2340.01,192.170412,8.667,2012,10,5,4,40
421567,0,98,1061.02,0.0,1.0,118221,54.47,4.000,1956.28,0.00,7.89,599.32,3990.54,192.327265,8.667,2012,10,12,4,41
421568,0,98,760.01,0.0,1.0,118221,56.47,3.969,2004.02,0.00,3.18,437.73,1537.49,192.330854,8.667,2012,10,19,4,42
421569,0,98,1076.80,0.0,1.0,118221,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667,2012,10,26,4,43

In [31]:
final['Store'].isnull().sum()

0

In [60]:
final.corr()

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,...,MarkDown4,MarkDown5,CPI,Unemployment,Year,Month,Day,Day_of_week,Week,IshHoliday
Store,1.000000,0.024004,0.003362,-0.085195,-0.000548,0.226410,-0.182881,-0.050097,0.065290,-0.059844,...,-0.042724,-0.012452,-0.211088,0.208552,0.002997,0.001011,-0.000015,NaN,0.001031,-0.000548
Dept,0.024004,1.000000,0.004054,0.148032,0.000916,0.003708,-0.002966,0.004437,0.003572,0.001494,...,0.001937,0.002668,-0.007477,0.007837,0.003738,0.000904,-0.000678,NaN,0.000882,0.000916
Date,0.003362,0.004054,1.000000,-0.000663,-0.013017,0.004223,-0.005437,0.147064,0.771913,0.470865,...,0.297472,0.423599,0.077001,-0.243370,0.941467,0.146422,0.041757,NaN,0.160332,-0.013017
Weekly_Sales,-0.085195,0.148032,-0.000663,1.000000,0.012774,-0.182242,0.243828,-0.002312,-0.000120,0.047172,...,0.037467,0.050465,-0.020921,-0.025864,-0.010111,0.028409,-0.006187,NaN,0.027673,0.012774
IsHoliday,-0.000548,0.000916,-0.013017,0.012774,1.000000,-0.000798,0.000593,-0.155949,-0.078281,-0.003521,...,0.011565,-0.015235,-0.001944,0.010460,-0.056746,0.123376,0.045465,NaN,0.128184,1.000000
Type,0.226410,0.003708,0.004223,-0.182242,-0.000798,1.000000,-0.811593,0.042981,0.029687,-0.126345,...,-0.089770,-0.130125,-0.065812,0.148720,0.004208,-0.000069,0.000279,NaN,-0.000003,-0.000798
Size,-0.182881,-0.002966,-0.005437,0.243828,0.000593,-0.811593,1.000000,-0.058313,0.003361,0.169788,...,0.127334,0.153011,-0.003314,-0.068238,-0.004975,-0.001210,-0.000386,NaN,-0.001292,0.000593
Temperature,-0.050097,0.004437,0.147064,-0.002312,-0.155949,0.042981,-0.058313,1.000000,0.143859,-0.026415,...,-0.050281,-0.014752,0.182112,0.096730,0.065814,0.235983,0.026832,NaN,0.236276,-0.155949
Fuel_Price,0.065290,0.003572,0.771913,-0.000120,-0.078281,0.029687,0.003361,0.143859,1.000000,0.297056,...,0.166622,0.215420,-0.164210,-0.033853,0.779633,-0.040876,0.028058,NaN,-0.031140,-0.078281
MarkDown1,-0.059844,0.001494,0.470865,0.047172,-0.003521,-0.126345,0.169788,-0.026415,0.297056,1.000000,...,0.838904,0.415050,0.010915,-0.105168,0.501044,-0.089206,-0.126187,NaN,-0.093572,-0.003521
MarkDown2,-0.033829,0.000587,0.127975,0.020716,0.207604,-0.055318,0.078372,-0.179672,0.029153,0.174868,...,0.113250,0.131735,-0.003554,-0.041427,0.131867,-0.019360,0.051971,NaN,-0.012812,0.207604
MarkDown3,-0.020331,0.001475,0.048749,0.038562,0.266471,-0.024013,0.033641,-0.056026,0.018615,-0.014411,...,-0.012020,0.042471,-0.005839,-0.018078,0.006789,0.116031,0.072156,NaN,0.122323,0.266471
MarkDown4,-0.042724,0.001937,0.297472,0.037467,0.011565,-0.089770,0.127334,-0.050281,0.166622,0.838904,...,1.000000,0.303370,-0.002047,-0.076513,0.335340,-0.105569,-0.152753,NaN,-0.114168,0.011565
MarkDown5,-0.012452,0.002668,0.423599,0.050465,-0.015235,-0.130125,0.153011,-0.014752,0.215420,0.415050,...,0.303370,1.000000,0.067906,-0.120406,0.402964,0.055770,-0.055893,NaN,0.055737,-0.015235
CPI,-0.211088,-0.007477,0.077001,-0.020921,-0.001944,-0.065812,-0.003314,0.182112,-0.164210,0.010915,...,-0.002047,0.067906,1.000000,-0.299953,0.074544,0.005282,0.002744,NaN,0.006342,-0.001944
Unemployment,0.208552,0.007837,-0.243370,-0.025864,0.010460,0.148720,-0.068238,0.096730,-0.033853,-0.105168,...,-0.076513,-0.120406,-0.299953,1.000000,-0.237161,-0.012444,-0.003793,NaN,-0.015490,0.010460
Year,0.002997,0.003738,0.941467,-0.010111,-0.056746,0.004208,-0.004975,0.065814,0.779633,0.501044,...,0.335340,0.402964,0.074544,-0.237161,1.000000,-0.194288,0.005835,NaN,-0.181797,-0.056746
Month,0.001011,0.000904,0.146422,0.028409,0.123376,-0.000069,-0.001210,0.235983,-0.040876,-0.089206,...,-0.105569,0.055770,0.005282,-0.012444,-0.194288,1.000000,0.016363,NaN,0.995999,0.123376
Day,-0.000015,-0.000678,0.041757,-0.006187,0.045465,0.000279,-0.000386,0.026832,0.028058,-0.126187,...,-0.152753,-0.055893,0.002744,-0.003793,0.005835,0.016363,1.000000,NaN,0.104719,0.045465
Day_of_week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Week,0.001031,0.000882,0.160332,0.027673,0.128184,-0.000003,-0.001292,0.236276,-0.031140,-0.093572,...,-0.114168,0.055737,0.006342,-0.015490,-0.181797,0.995999,0.104719,NaN,1.000000,0.128184
IshHoliday,-0.000548,0.000916,-0.013017,0.012774,1.000000,-0.000798,0.000593,-0.155949,-0.078281,-0.003521,...,0.011565,-0.015235,-0.001944,0.010460,-0.056746,0.123376,0.045465,NaN,0.128184,1.000000

In [33]:
final.columns

Index(['Store', 'Dept', 'Weekly_Sales', 'IsHoliday', 'Type', 'Size',
       'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3',
       'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment', 'Year', 'Month', 'Day',
       'Day_of_week', 'Week', 'IshHoliday'],
      dtype='object')

In [61]:
#continues=[ 'Weekly_Sales','Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3','MarkDown4', 'MarkDown5', 'CPI','Unemployment', 'Size' ]
#categories=['Store', 'Dept', 'IsHoliday','Type','Month', 'Day','Day_of_week', 'Week', 'IshHoliday','Year']

In [ ]:
continues=(["Weekly_Sales","Size","Temperature","Fuel_Price","MarkDown1","MarkDown2","MarkDown3","MarkDown4","MarkDown5","CPI","Unemployment"]
categories=["Store","Dept","IsHoliday","Type","Year","Month","Day","Day_of_week","week"]

In [62]:
final

,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,...,MarkDown4,MarkDown5,CPI,Unemployment,Year,Month,Day,Day_of_week,Week,IshHoliday
0,1,1,2010-02-05,24924.50,0.0,0.0,151315,42.31,2.572,0.00,...,0.00,0.00,211.096358,8.106,2010,2,5,4,5,0.0
1,1,1,2010-02-12,46039.49,1.0,0.0,151315,38.51,2.548,0.00,...,0.00,0.00,211.242170,8.106,2010,2,12,4,6,1.0
2,1,1,2010-02-19,41595.55,0.0,0.0,151315,39.93,2.514,0.00,...,0.00,0.00,211.289143,8.106,2010,2,19,4,7,0.0
3,1,1,2010-02-26,19403.54,0.0,0.0,151315,46.63,2.561,0.00,...,0.00,0.00,211.319643,8.106,2010,2,26,4,8,0.0
4,1,1,2010-03-05,21827.90,0.0,0.0,151315,46.50,2.625,0.00,...,0.00,0.00,211.350143,8.106,2010,3,5,4,9,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,2012-09-28,508.37,0.0,1.0,118221,64.88,3.997,4556.61,...,1601.01,3288.25,192.013558,8.684,2012,9,28,4,39,0.0
421566,45,98,2012-10-05,628.10,0.0,1.0,118221,64.89,3.985,5046.74,...,2253.43,2340.01,192.170412,8.667,2012,10,5,4,40,0.0
421567,45,98,2012-10-12,1061.02,0.0,1.0,118221,54.47,4.000,1956.28,...,599.32,3990.54,192.327265,8.667,2012,10,12,4,41,0.0
421568,45,98,2012-10-19,760.01,0.0,1.0,118221,56.47,3.969,2004.02,...,437.73,1537.49,192.330854,8.667,2012,10,19,4,42,0.0
421569,45,98,2012-10-26,1076.80,0.0,1.0,118221,58.85,3.882,4018.91,...,211.94,858.33,192.308899,8.667,2012,10,26,4,43,0.0

In [63]:
from scipy import stats

In [65]:
def two_sample(d1,d2):
  t=0
  f=0
  for i in  range(31):
    sample1=d1.sample(frac=0.03)
    sample2=d2.sample(frac=0.03)
    t_test,p_value=stats.ttest_ind(sample1,sample2)
    if p_value < 0.055:
      f=f+1
    else:
      t=t+1
  if t>f:
    return True
  else:
    return False

In [66]:
import pandas as pd
import scipy.stats as stats

# Function for categorical vs categorical (Chi-square test)
def chisquare_cat_vs_cat(d1, d2):
    return stats.chi2_contingency(pd.crosstab(d1, d2))[1] < 0.055

# Function for continuous vs continuous (T-test with bootstrapping)
def two_sample(d1, d2, num_iter=31, sample_frac=0.1):
    t, f = 0, 0  # Counters for significance
    for _ in range(num_iter):
        sample1 = d1.sample(frac=sample_frac, replace=True)
        sample2 = d2.sample(frac=sample_frac, replace=True)
        _, p_value = stats.ttest_ind(sample1, sample2, equal_var=False)  # Welchâ€™s t-test (more robust)

        if p_value < 0.055:
            f += 1
        else:
            t += 1

    return t >= f  # Avoid bias by considering equal cases as significant

In [67]:
def chisqare_cat_vs_cat(d1,d2):
  return True if stats.chi2_contingency(pd.crosstab(d1,d2))[1] < 0.055 else False


chisqare_cat_vs_cat(df["State"],df["District"])

NameError: name 'df' is not defined

In [69]:
def chi_square_cat_vs_cat(d1,d2):
  return True if stats.chi2_contingency(pd.crosstab(d1,d2))[1] < 0.055 else False

In [71]:
#defining function for categories vs categories

def annova_test(d1,d2):
  group=df_final[d2].unique()
  data={}
  for i in group:
    data[i]=df_final[d1][df_final[d2]==i]
  f_value,p_value=stats.f_oneway(*[i for i in data.values()])
  if p_value < 0.055:
    return False
  else:
    return True

df_final={}
for i in final.columns:
  final[i]={}
  for j in final.columns:
    if (i in continues) and (j in continues):
      result=two_sample(final[i],final[j])
    elif  (i in continues) and (j in categories):
      result=annova_test(i,j)
    elif (i in categories) and (j in continues):
      result=annova_test(j,i)
    elif (i in categories) and (j in categories):
      result=chi_square_cat_vs_cat(final[i],final[j])
    if result:
     df_final[i][j]=1
    else:
      df_final[i][j]=0

ValueError: No data; `observed` has size 0.

In [72]:

# Defining function for categories vs categories
def chisquare_cat_vs_cat(d1, d2):
    return stats.chi2_contingency(pd.crosstab(d1, d2))[1] < 0.055

# Defining function for continuous vs categorical (ANOVA test)
def anova_test(d1, d2, df):
    groups = df[d2].unique()
    data = [df[d1][df[d2] == g] for g in groups]
    f_value, p_value = stats.f_oneway(*data)
    return p_value < 0.055

# Initialize the final result matrix
df_final = pd.DataFrame(index=final.columns, columns=final.columns)

# Iterating over columns
for i in final.columns:
    for j in final.columns:
        if (i in continues) and (j in continues):
            result = two_sample(final[i], final[j])  # Ensure two_sample is defined
        elif (i in continues) and (j in categories):
            result = anova_test(i, j, final)
        elif (i in categories) and (j in continues):
            result = anova_test(j, i, final)
        elif (i in categories) and (j in categories):
            result = chisquare_cat_vs_cat(final[i], final[j])

        # Store results in dataframe
        df_final.loc[i, j] = 1 if result else 0

ValueError: No data; `observed` has size 0.

In [ ]:
import pandas as pd
import scipy.stats as stats

# Function for chi-square test (category vs category)
def chi_square_cat_vs_cat(d1, d2):
    return True if stats.chi2_contingency(pd.crosstab(d1, d2))[1] < 0.05 else False

# Function for ANOVA test (numerical vs category)
def anova_test(df, d1, d2):
    groups = df[d2].unique()
    data = {i: df[d1][df[d2] == i] for i in groups}

    f_value, p_value = stats.f_oneway(*data.values())

    return p_value >= 0.05  # Return True if we fail to reject null hypothesis

# Assuming `final` is a DataFrame containing data
df_final = pd.DataFrame(index=final.columns, columns=final.columns)

for i in final.columns:
    for j in final.columns:
        if (i in continues) and (j in continues):
            result = two_sample(final[i], final[j])  # Ensure this function is defined
        elif (i in continues) and (j in categories):
            result = anova_test(final, i, j)
        elif (i in categories) and (j in continues):
            result = anova_test(final, j, i)
        elif (i in categories) and (j in categories):
            result = chi_square_cat_vs_cat(final[i], final[j])

        df_final.loc[i, j] = 1 if result else 0  # Assign to DataFrame