<a href="https://colab.research.google.com/github/Hemanthk408/store-dataset/blob/main/store_sales_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#File import and merge

In [1]:
import pandas as pd

In [ ]:
sale=pd.read_csv("/content/sales_data_set.csv")
store=pd.read_csv("/content/stores_data_set.csv")
feature=pd.read_csv("/content/Features_data_set.csv")

In [ ]:
store_sale=pd.merge(sale,store,on="Store")

In [ ]:
store_sale_feature=pd.merge(store_sale,feature,on=["Store","Date","IsHoliday"])

In [ ]:
store_sale_feature.columns

Index(['Store', 'Dept', 'Date', 'Weekly_Sales', 'IsHoliday', 'Type', 'Size',
       'Temperature', 'Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3',
       'MarkDown4', 'MarkDown5', 'CPI', 'Unemployment'],
      dtype='object')

In [ ]:
df=pd.read_csv("/content/Merge.csv")

In [7]:
df

,Unnamed: 0,Store,Dept,Date,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment
0,0,1,1,05/02/2010,24924.50,False,A,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106
1,1,1,1,12/02/2010,46039.49,True,A,151315,38.51,2.548,0.00,0.00,0.00,0.00,0.00,211.242170,8.106
2,2,1,1,19/02/2010,41595.55,False,A,151315,39.93,2.514,0.00,0.00,0.00,0.00,0.00,211.289143,8.106
3,3,1,1,26/02/2010,19403.54,False,A,151315,46.63,2.561,0.00,0.00,0.00,0.00,0.00,211.319643,8.106
4,4,1,1,05/03/2010,21827.90,False,A,151315,46.50,2.625,0.00,0.00,0.00,0.00,0.00,211.350143,8.106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,421565,45,98,28/09/2012,508.37,False,B,118221,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684
421566,421566,45,98,05/10/2012,628.10,False,B,118221,64.89,3.985,5046.74,0.00,18.82,2253.43,2340.01,192.170412,8.667
421567,421567,45,98,12/10/2012,1061.02,False,B,118221,54.47,4.000,1956.28,0.00,7.89,599.32,3990.54,192.327265,8.667
421568,421568,45,98,19/10/2012,760.01,False,B,118221,56.47,3.969,2004.02,0.00,3.18,437.73,1537.49,192.330854,8.667
421569,421569,45,98,26/10/2012,1076.80,False,B,118221,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667

In [8]:
df["Date"]=pd.to_datetime(df["Date"],format="%d/%m/%Y")

In [9]:
df["year"]=df["Date"].dt.year
df["month"]=df["Date"].dt.month
df["day"]=df["Date"].dt.day
df["day_of_week"]=df["Date"].dt.dayofweek
df["week"]=df["Date"].dt.isocalendar().week

In [10]:
df.drop("Date",axis=1,inplace=True)

In [24]:
df.drop("Unnamed: 0", inplace=True, axis=1, errors="ignore")

In [23]:
df.drop("Unnamed:0",inplace=True,axis=1)

KeyError: "['Unnamed:0'] not found in axis"

In [ ]:
Unnamed: 0

In [ ]:
df.drop("")

In [25]:
df

,Store,Dept,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,year,month,day,day_of_week,week
0,1,1,24924.50,0.0,0.0,151315,42.31,2.572,0.00,0.00,0.00,0.00,0.00,211.096358,8.106,2010,2,5,4,5
1,1,1,46039.49,1.0,0.0,151315,38.51,2.548,0.00,0.00,0.00,0.00,0.00,211.242170,8.106,2010,2,12,4,6
2,1,1,41595.55,0.0,0.0,151315,39.93,2.514,0.00,0.00,0.00,0.00,0.00,211.289143,8.106,2010,2,19,4,7
3,1,1,19403.54,0.0,0.0,151315,46.63,2.561,0.00,0.00,0.00,0.00,0.00,211.319643,8.106,2010,2,26,4,8
4,1,1,21827.90,0.0,0.0,151315,46.50,2.625,0.00,0.00,0.00,0.00,0.00,211.350143,8.106,2010,3,5,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421565,45,98,508.37,0.0,1.0,118221,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684,2012,9,28,4,39
421566,45,98,628.10,0.0,1.0,118221,64.89,3.985,5046.74,0.00,18.82,2253.43,2340.01,192.170412,8.667,2012,10,5,4,40
421567,45,98,1061.02,0.0,1.0,118221,54.47,4.000,1956.28,0.00,7.89,599.32,3990.54,192.327265,8.667,2012,10,12,4,41
421568,45,98,760.01,0.0,1.0,118221,56.47,3.969,2004.02,0.00,3.18,437.73,1537.49,192.330854,8.667,2012,10,19,4,42
421569,45,98,1076.80,0.0,1.0,118221,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667,2012,10,26,4,43

In [12]:
df.to_csv("Store_cleaned_Data.csv")

In [13]:
from sklearn.preprocessing import OrdinalEncoder
encoder=OrdinalEncoder()

In [15]:
df["IsHoliday"]=encoder.fit_transform(df[["IsHoliday"]])
df["Type"]=encoder.fit_transform(df[["Type"]])

In [16]:
df.corr()

,Unnamed: 0,Store,Dept,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,...,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,year,month,day,day_of_week,week
Unnamed: 0,1.000000,0.999198,0.045990,-0.082372,-0.000530,0.218448,-0.175516,-0.053526,0.068573,-0.057762,...,-0.019939,-0.041262,-0.012332,-0.218301,0.213702,0.003344,0.001078,-0.000019,NaN,0.001101
Store,0.999198,1.000000,0.024004,-0.085195,-0.000548,0.226410,-0.182881,-0.050097,0.065290,-0.059844,...,-0.020331,-0.042724,-0.012452,-0.211088,0.208552,0.002997,0.001011,-0.000015,NaN,0.001031
Dept,0.045990,0.024004,1.000000,0.148032,0.000916,0.003708,-0.002966,0.004437,0.003572,0.001494,...,0.001475,0.001937,0.002668,-0.007477,0.007837,0.003738,0.000904,-0.000678,NaN,0.000882
Weekly_Sales,-0.082372,-0.085195,0.148032,1.000000,0.012774,-0.182242,0.243828,-0.002312,-0.000120,0.047172,...,0.038562,0.037467,0.050465,-0.020921,-0.025864,-0.010111,0.028409,-0.006187,NaN,0.027673
IsHoliday,-0.000530,-0.000548,0.000916,0.012774,1.000000,-0.000798,0.000593,-0.155949,-0.078281,-0.003521,...,0.266471,0.011565,-0.015235,-0.001944,0.010460,-0.056746,0.123376,0.045465,NaN,0.128184
Type,0.218448,0.226410,0.003708,-0.182242,-0.000798,1.000000,-0.811593,0.042981,0.029687,-0.126345,...,-0.024013,-0.089770,-0.130125,-0.065812,0.148720,0.004208,-0.000069,0.000279,NaN,-0.000003
Size,-0.175516,-0.182881,-0.002966,0.243828,0.000593,-0.811593,1.000000,-0.058313,0.003361,0.169788,...,0.033641,0.127334,0.153011,-0.003314,-0.068238,-0.004975,-0.001210,-0.000386,NaN,-0.001292
Temperature,-0.053526,-0.050097,0.004437,-0.002312,-0.155949,0.042981,-0.058313,1.000000,0.143859,-0.026415,...,-0.056026,-0.050281,-0.014752,0.182112,0.096730,0.065814,0.235983,0.026832,NaN,0.236276
Fuel_Price,0.068573,0.065290,0.003572,-0.000120,-0.078281,0.029687,0.003361,0.143859,1.000000,0.297056,...,0.018615,0.166622,0.215420,-0.164210,-0.033853,0.779633,-0.040876,0.028058,NaN,-0.031140
MarkDown1,-0.057762,-0.059844,0.001494,0.047172,-0.003521,-0.126345,0.169788,-0.026415,0.297056,1.000000,...,-0.014411,0.838904,0.415050,0.010915,-0.105168,0.501044,-0.089206,-0.126187,NaN,-0.093572
MarkDown2,-0.033176,-0.033829,0.000587,0.020716,0.207604,-0.055318,0.078372,-0.179672,0.029153,0.174868,...,-0.006080,0.113250,0.131735,-0.003554,-0.041427,0.131867,-0.019360,0.051971,NaN,-0.012812
MarkDown3,-0.019939,-0.020331,0.001475,0.038562,0.266471,-0.024013,0.033641,-0.056026,0.018615,-0.014411,...,1.000000,-0.012020,0.042471,-0.005839,-0.018078,0.006789,0.116031,0.072156,NaN,0.122323
MarkDown4,-0.041262,-0.042724,0.001937,0.037467,0.011565,-0.089770,0.127334,-0.050281,0.166622,0.838904,...,-0.012020,1.000000,0.303370,-0.002047,-0.076513,0.335340,-0.105569,-0.152753,NaN,-0.114168
MarkDown5,-0.012332,-0.012452,0.002668,0.050465,-0.015235,-0.130125,0.153011,-0.014752,0.215420,0.415050,...,0.042471,0.303370,1.000000,0.067906,-0.120406,0.402964,0.055770,-0.055893,NaN,0.055737
CPI,-0.218301,-0.211088,-0.007477,-0.020921,-0.001944,-0.065812,-0.003314,0.182112,-0.164210,0.010915,...,-0.005839,-0.002047,0.067906,1.000000,-0.299953,0.074544,0.005282,0.002744,NaN,0.006342
Unemployment,0.213702,0.208552,0.007837,-0.025864,0.010460,0.148720,-0.068238,0.096730,-0.033853,-0.105168,...,-0.018078,-0.076513,-0.120406,-0.299953,1.000000,-0.237161,-0.012444,-0.003793,NaN,-0.015490
year,0.003344,0.002997,0.003738,-0.010111,-0.056746,0.004208,-0.004975,0.065814,0.779633,0.501044,...,0.006789,0.335340,0.402964,0.074544,-0.237161,1.000000,-0.194288,0.005835,NaN,-0.181797
month,0.001078,0.001011,0.000904,0.028409,0.123376,-0.000069,-0.001210,0.235983,-0.040876,-0.089206,...,0.116031,-0.105569,0.055770,0.005282,-0.012444,-0.194288,1.000000,0.016363,NaN,0.995999
day,-0.000019,-0.000015,-0.000678,-0.006187,0.045465,0.000279,-0.000386,0.026832,0.028058,-0.126187,...,0.072156,-0.152753,-0.055893,0.002744,-0.003793,0.005835,0.016363,1.000000,NaN,0.104719
day_of_week,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
week,0.001101,0.001031,0.000882,0.027673,0.128184,-0.000003,-0.001292,0.236276,-0.031140,-0.093572,...,0.122323,-0.114168,0.055737,0.006342,-0.015490,-0.181797,0.995999,0.104719,NaN,1.000000

In [29]:
continues=['Weekly_Sales','Temperature','Size','Fuel_Price', 'MarkDown1', 'MarkDown2', 'MarkDown3','MarkDown4', 'MarkDown5', 'CPI', 'Unemployment','year']
categories=['Store', 'Dept','IsHoliday', 'Type','month', 'day','day_of_week', 'week']

In [ ]:
from scipy import stats

def two_sample(d1,d2):
  t=0
  f=0
  for i in  range(31):
    sample1=d1.sample(frac=0.03)
    sample2=d2.sample(frac=0.03)
    t_test,p_value=stats.ttest_ind(sample1,sample2)
    if p_value < 0.055:
      f=f+1
    else:
      t=t+1
  if t>f:
    return True
  else:
    return False

#defining function for categories vs categories
def chisqare_cat_vs_cat(d1,d2):
  return True if stats.chi2_contingency(pd.crosstab(d1,d2))[1] < 0.055 else False

def annova_test(d1,d2):
  group=df[d2].unique()
  data={}
  for i in group:
    data[i]=df[d1][df[d2]==i]
  f_value,p_value=stats.f_oneway(*[i for i in data.values()])
  if p_value < 0.055:
    return False
  else:
    return True

final={}
for i in df.columns:
  final[i]={}
  for j in df.columns:
    if (i in continues) and (j in continues):
      result=two_sample(df[i],df[j])
    elif  (i in continues) and (j in categories):
      result=annova_test(i,j)
    elif (i in categories) and (j in continues):
      result=annova_test(j,i)
    elif (i in categories) and (j in categories):
      result=chisqare_cat_vs_cat(df[i],df[j])
    if result:
      final[i][j]=1
    else:
      final[i][j]=0

/usr/local/lib/python3.11/dist-packages/scipy/stats/_axis_nan_policy.py:531: ConstantInputWarning: Each of the input arrays is constant; the F statistic is not defined or infinite
  res = hypotest_fun_out(*samples, **kwds)

TypeError: at least two inputs are required; got 1.

In [ ]:
import seaborn as sns

In [ ]:
df=pd.DataFrame(final)

In [26]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px
from scipy.stats import kurtosis
from scipy.stats import norm

In [27]:
for i in df.columns:                                   #skew -0.5 to 0.5 and kurtosis -3 to 3
  print(i,kurtosis(df[i]),df[i].skew())

Store -1.1465034151943465 0.07776250174537733
Dept -1.2155703944762817 0.3582231934713366
Weekly_Sales 21.491020780830272 3.2620081854656657
IsHoliday 9.288622935935084 3.359866555262695
Type -0.6039908888874455 0.6933113912785097
Size -1.2063458278203716 -0.3258497664635348
Temperature -0.6359286679897278 -0.3214041519699762
Fuel_Price -1.1854046777408558 -0.10490149562840598
MarkDown1 34.91680799041715 4.731304105937837
MarkDown2 145.4195541305649 10.645956306924624
MarkDown3 248.0924138301429 14.92234105657218
MarkDown4 86.2413022288616 8.077666469546443
MarkDown5 183.4058759629427 9.964519133631532
CPI -1.829706895684186 0.08521928473260011
Unemployment 2.7311700038772084 1.1837425684974319
year -1.4232323274064536 0.05623644391430117
month -1.11041333311964 0.04078624154148521
day -1.1988099152887632 0.009423172675009313
day_of_week nan 0.0
week -1.1116801226725137 0.05265944161124803

<ipython-input-27-797893b54b2f>:2: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  print(i,kurtosis(df[i]),df[i].skew())

In [30]:
for i in continues:
  print(i,kurtosis(df[i]),df[i].skew())

Weekly_Sales 21.491020780830272 3.2620081854656657
Temperature -0.6359286679897278 -0.3214041519699762
Size -1.2063458278203716 -0.3258497664635348
Fuel_Price -1.1854046777408558 -0.10490149562840598
MarkDown1 34.91680799041715 4.731304105937837
MarkDown2 145.4195541305649 10.645956306924624
MarkDown3 248.0924138301429 14.92234105657218
MarkDown4 86.2413022288616 8.077666469546443
MarkDown5 183.4058759629427 9.964519133631532
CPI -1.829706895684186 0.08521928473260011
Unemployment 2.7311700038772084 1.1837425684974319
year -1.4232323274064536 0.05623644391430117

In [32]:
df[df["Weekly_Sales"]==0]

,Store,Dept,Weekly_Sales,IsHoliday,Type,Size,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,year,month,day,day_of_week,week
6055,1,47,0.0,0.0,0.0,151315,53.56,3.459,0.00,0.00,0.00,0.00,0.00,214.111056,7.742,2011,3,11,4,10
6059,1,47,0.0,0.0,0.0,151315,90.76,3.638,0.00,0.00,0.00,0.00,0.00,215.605788,7.962,2011,8,12,4,32
6060,1,47,0.0,0.0,0.0,151315,89.94,3.554,0.00,0.00,0.00,0.00,0.00,215.669311,7.962,2011,8,19,4,33
16309,2,47,0.0,0.0,0.0,202307,68.08,3.891,8994.04,6573.08,20.21,4162.20,1966.38,221.148403,6.891,2012,4,13,4,15
17457,2,60,0.0,0.0,0.0,202307,54.52,2.720,0.00,0.00,0.00,0.00,0.00,210.873332,8.324,2010,3,19,4,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
403340,43,85,0.0,0.0,2.0,41062,43.68,3.261,894.04,209.71,32.36,0.00,1191.88,211.411571,9.653,2012,1,13,4,2
407652,44,27,0.0,0.0,2.0,39910,20.60,2.903,0.00,0.00,0.00,0.00,0.00,127.300935,7.224,2011,1,14,4,2
417805,45,47,0.0,1.0,1.0,118221,30.30,3.239,0.00,0.00,0.00,0.00,0.00,183.701613,8.549,2011,2,11,4,6
418079,45,54,0.0,0.0,1.0,118221,58.61,2.868,0.00,0.00,0.00,0.00,0.00,182.810620,8.724,2010,10,15,4,41
418150,45,54,0.0,0.0,1.0,118221,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,191.461281,8.684,2012,8,31,4,35

In [41]:
continues.columns()

AttributeError: 'list' object has no attribute 'columns'

In [39]:
data=['Weekly_Sales','Temperature','Fuel_Price','CPI', 'Unemployment']             #kurtosis   -3 to 3
from scipy import stats         #skew       -1 to 1
method=[0,0.5,-0.5,1,-1,2,-2]
for i in method:
  for j in data:
    print(i,j)
    print("-----------------------------------")
    print("skewness",pd.DataFrame(stats.boxcox(df[j],lmbda=i)).skew().values,"kurtosis",pd.DataFrame(stats.boxcox(df[j],lmbda=i)).kurtosis().values)

0 Weekly_Sales
-----------------------------------
skewness [nan] kurtosis [nan]
0 Size
-----------------------------------
skewness [-0.91870149] kurtosis [-0.50903847]
0 Temperature
-----------------------------------
skewness [-1.23579409] kurtosis [1.93062848]
0 Fuel_Price
-----------------------------------
skewness [-0.26484044] kurtosis [-1.1831529]
0 CPI
-----------------------------------
skewness [0.03361555] kurtosis [-1.8577418]
0 Unemployment
-----------------------------------
skewness [0.07172653] kurtosis [1.35776508]
0.5 Weekly_Sales
-----------------------------------
skewness [1.06067841] kurtosis [1.28941865]
0.5 Size
-----------------------------------

/usr/local/lib/python3.11/dist-packages/pandas/core/nanops.py:1256: RuntimeWarning: invalid value encountered in subtract
  adjusted = values - mean
/usr/local/lib/python3.11/dist-packages/pandas/core/nanops.py:1344: RuntimeWarning: invalid value encountered in subtract
  adjusted = values - mean

skewness [-0.61996351] kurtosis [-0.90446426]
0.5 Temperature
-----------------------------------
skewness [-0.70003089] kurtosis [0.03698746]
0.5 Fuel_Price
-----------------------------------
skewness [-0.18590991] kurtosis [-1.1941514]
0.5 CPI
-----------------------------------
skewness [0.05872742] kurtosis [-1.84590027]
0.5 Unemployment
-----------------------------------
skewness [0.63497938] kurtosis [1.75663295]
-0.5 Weekly_Sales
-----------------------------------
skewness [nan] kurtosis [nan]
-0.5 Size
-----------------------------------
skewness [-1.18147023] kurtosis [-0.07849542]
-0.5 Temperature
-----------------------------------
skewness [-2.14226137] kurtosis [8.1838821]
-0.5 Fuel_Price
-----------------------------------
skewness [-0.34195358] kurtosis [-1.15368624]
-0.5 CPI
-----------------------------------
skewness [0.00965718] kurtosis [-1.86517825]
-0.5 Unemployment
-----------------------------------
skewness [-0.49217401] kurtosis [1.61357565]
1 Weekly_Sales
-----------------------------------
skewness [3.25910889] kurtosis [21.46245483]
1 Size
-----------------------------------
skewness [-0.32584977] kurtosis [-1.2063459]
1 Temperature
-----------------------------------
skewness [-0.31765613] kurtosis [-0.64796098]
1 Fuel_Price
-----------------------------------
skewness [-0.1049015] kurtosis [-1.1854045]
1 CPI
-----------------------------------
skewness [0.08521928] kurtosis [-1.82971436]
1 Unemployment
-----------------------------------
skewness [1.18374257] kurtosis [2.73121663]
-1 Weekly_Sales
-----------------------------------
skewness [nan] kurtosis [nan]
-1 Size
-----------------------------------
skewness [-1.38654773] kurtosis [0.33161946]
-1 Temperature
-----------------------------------
skewness [-4.08380874] kurtosis [34.90567502]
-1 Fuel_Price
-----------------------------------
skewness [-0.41750572] kurtosis [-1.10678259]
-1 CPI
-----------------------------------
skewness [-0.01341635] kurtosis [-1.86817158]
-1 Unemployment
-----------------------------------
skewness [-1.0464562] kurtosis [2.53302123]
2 Weekly_Sales
-----------------------------------
skewness [37.93573595] kurtosis [4116.54348191]
2 Size
-----------------------------------
skewness [0.12851746] kurtosis [-1.48400074]
2 Temperature
-----------------------------------
skewness [0.24924489] kurtosis [-0.81553741]
2 Fuel_Price
-----------------------------------
skewness [0.06439402] kurtosis [-1.10219523]
2 CPI
-----------------------------------
skewness [0.14296838] kurtosis [-1.78463233]
2 Unemployment
-----------------------------------
skewness [2.1765304] kurtosis [5.82011636]
-2 Weekly_Sales
-----------------------------------
skewness [nan] kurtosis [nan]
-2 Size
-----------------------------------
skewness [0.] kurtosis [0.]
-2 Temperature
-----------------------------------
skewness [-17.4361274] kurtosis [509.69534182]
-2 Fuel_Price
-----------------------------------
skewness [-0.56491472] kurtosis [-0.96369432]
-2 CPI
-----------------------------------
skewness [-0.05810431] kurtosis [-1.86080586]
-2 Unemployment
-----------------------------------
skewness [-2.1000176] kurtosis [6.10770293]

In [ ]:
from sklearn.model_selection import train_test_split
model=train_

In [ ]:
[12:16, 2/10/2025] Goutham Bro: import mlflow
print(mlflow._version_)
[12:16, 2/10/2025] Goutham Bro: import mlflow
import mlflow.sklearn
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

mlflow.set_experiment("Car_Price_Prediction")

# Define models
models = {
    "Linear Regression": LinearRegression(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest": RandomForestRegressor(),
    "XGBoost": xgb.XGBRegressor(),
    "SVR": SVR()
}

for model_name, model in models.items():
    with mlflow.start_run(run_name=model_name):
        model.fit(x_train, y_train)
        y_pred = model.predict(x_test)

        # Calculate Metrics
        mse = mean_squared_error(y_test, y_pred)
        mae = mean_absolute_error(y_test, y_pred)
        r2 = r2_score(y_test, y_pred)

        # Log parameters and metrics
        mlflow.log_param("Model", model_name)
        mlflow.log_metric("Mean Squared Error", mse)
        mlflow.log_metric("Mean Absolute Error", mae)
        mlflow.log_metric("R² Score", r2)

        # Log the model
        mlflow.sklearn.log_model(model, model_name)

        print(f"{model_name}:")
        print(f"  Mean Squared Error: {mse:.2f}")
        print(f"  Mean Absolute Error: {mae:.2f}")
        print(f"  R² Score: {r2:.2f}\n")

print("All models trained and logged in MLflow.")